.centered-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.memo_record-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.memo-record-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align the buttons to the right */
    align-self: flex-end; /* 将按钮容器对齐到父容器的底部 */
}

 
button.delete-button {
    background-color: red;
    color: white;
    margin-top: 10px;
}
 
 
button[type="display-answer-button"] {
    font-size: 40px; /* 保持字体大小 */
    padding: 80px 30px; /* 增大垂直内边距，使按钮更高，调整水平内边距使其更窄 */
    border-radius: 40px; /* 圆角按钮 */
    background-color: #A8D08D; /* 按钮颜色 */
    color: #2C6B2F; /* 文字颜色 */
    border: none; /* 去掉边框 */
    cursor: pointer; /* 鼠标悬停时显示指针 */
}

button[type="display-answer-button"]:hover {
    background-color: #8DBF66; /* 悬停时更改按钮颜色 */
}


.question-label, .question-text {
    background-color: #FFFFE0;
    color: black;
    font-weight: bold;
    font-size: 25px; /* 设置字体为 25px */
}

.question-label {
    margin-right: 10px; /* 可选的：为标签添加一些右边距，使其与内容分开 */
}

p {
    margin-bottom: 0px; /* 设置较小的底部间距 */
}


/* 将 p 元素的样式也设置为像按钮一样 */
p.display-answer-text {
    font-size: 40px;
    padding: 80px 30px;
    border-radius: 40px;
    background-color: #A8D08D;
    color: #2C6B2F;
    border: none;
    margin: 0; /* 去掉默认的 p 元素的上下边距 */
    cursor: pointer;
    display: inline-block; /* 让 p 元素表现得像按钮一样 */
    width: 100%;
    box-sizing: border-box;
}

p.display-answer-text:hover {
    background-color: #8DBF66;
}

.memo-record-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Or set a desired height */
}

